/* Styling */


@import url('https://fonts.googleapis.com/css?family=Baloo');

#wrapper{
/*    max-width:1200px;*/
    display: inline;
    
}


body {
    background: #f6e7fd;
    margin-top: 0;
}

h2 {
  color: white;
    background-color:black;
    border-radius: 20px;
  font-size: 40em;
  font-family: 'Baloo', cursive;
  text-transform: uppercase;
  text-align: center;

}

#wrapper{
  display: flex;
    flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.thumb img{


}