@import "styles.css";
@import "normalize.css";

html, body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align:center;
}
.content{
    margin: 0 auto;
    max-width: 900px;
    background-color:#f6e7fd;
}

#wrapper {
//    margin: 0 auto;
//    max-width: 900px;
display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#wrapper div{
    padding: 15px;
    flex: 1 1 auto;
}

//#wrapper{
///*    max-width:1200px;*/
//    display: inline;
//    
//}


body {
    background: #f6e7fd;
    margin-top: 0;
    max-width: 800px;
}

h2 {
  color: white;
    background-color:black;
    border-radius: 20px;
//  font-size: 12em;
  font-family: 'Averia Libre', cursive;
  text-transform: uppercase;
  text-align: center;
    padding: .3em;

}

#wrapper{
    margin: 0 auto;
  display: flex;
    flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

#thumb{
    border-radius: 12px;
}

