body{
    background-color:black;
}


img{
    
    display: block;
    margin: 0 auto;

}

img{
    margin-bottom: 100px;
}

p{
    color:white;
    text-align:center;
    font-size:25px;

}

a{
    text-decoration:none;
    color:white;
}

a:hover{
    color:blue;
}

